
<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <script src="https://d3js.org/d3.v4.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <style>
    :root {
      --left: 8%;
      --leading: 1%;
    }

    body {
      font-family:"avenir next", Arial, sans-serif;
      font-size: 12px;
      color: white;
      background: black;
    }

    input:focus {
      outline:none;
    }
    #play-button {
      margin-left: var(--left);
      margin-top: var(--leading);
      background: black;
      padding-right: 26px;
      border-radius: 3px;
      color: white;
      margin: 0;
      padding: 0 12px;
      width: 40px;
      cursor: pointer;
      height: 18px;
      border: solid;
      border-color: white;
      border-width: thin !important;
      margin-left: var(--leading)
    }

    .mobility-button {
      display: inline;
      float: left;
      background: black;
      padding-right: 26px;
      border-radius: 3px;
      border: solid;
      color: white;
      margin: 0;
      padding: 0 12px;
      width: 10%;
      cursor: pointer;
      height: 30px;
      width: auto;
      margin-right: 20px;
      font-size: auto;
      border-width: thin;
    }

    .mobility-button:hover {
      background-color: lightgray;
      color: black;
    } 
    .mobility-button:focus {
      outline:none;
    }

    .on{
      background-color: white;
      border: solid;
      color: black;
      border-color: white;
      border-width: thin !important;
    }

    #play-button:hover {
      background-color: lightgray;
      color: black;
    }  
    #play-button:focus {
      outline:none;
    }

    .ticks {
      font-size: 10px;
      color: white;
    }

    .track,
    .track-inset,
    .track-overlay {
      stroke-linecap: round;
    }

    .track {
      stroke: #000;
      stroke-opacity: 0.3;
      stroke-width: 10px;
    }

    .track-inset {
      stroke: lightgray;
      stroke-width: 2px;
    }

    .track-overlay {
      pointer-events: stroke;
      stroke-width: 50px;
      stroke: transparent;
      cursor: crosshair;
    }

    .handle {
      fill: #fff;
      stroke: #000;
      stroke-opacity: 0.5;
      stroke-width: 1.25px;
    }
    #title{
      font-size: 36px;
      font-family:"avenir next", Arial, sans-serif;
      margin-left: var(--left);
      margin-bottom: var(--leading);
    }
    /*
    #stay-at-home{
      background: red;
      float: left;
      height: 300px;
      width: 250px;
      margin-left: 50px;
      display: none;
    }
    */
    #vis{
      float: left;
      display: inline;
      width: 100%;
      margin-top: var(--leading);
      margin-left: var(--left);
    }
    #mobility-buttons{
      margin-left: var(--left);
    }
    #play-button-container{
      margin-left: var(--left);
      margin-top: var(--leading);
    }
    #text{
      color: white;
      display: inline-block;
      margin-left: var(--left);
      margin-bottom: var(--leading);
      width: 1500px;
      /*margin-top: 20px;*/
    }
    #loading-icon{
      margin-left: 45%;
      margin-top: 60%;
      font-size: 20px;
      color: white;
    }
    #state-selector{
      float: left;
      margin-left: var(--left);
      margin-top: var(--leading);
      background: black;
      color: white;
      border: solid;
      border-color: white;
      border-width: thin !important;
    }
    #state-selector:focus {
      outline:none;
    }
    div.tooltip { 
      position: absolute;     
      text-align: center;     
      width: auto;          
      height: auto;         
      font: 12px sans-serif; 
      color: black;   
      background: white;
      border: 0px;    
      pointer-events: none;
      text-align: center;
      vertical-align: center;    
  }
  .county-line {
    stroke: white;
    stroke-width: 1.8px;
    opacity: 0;
  }
  .scatterdot{
    /*display: none;*/
  }
  </style>
</head>

<body>
<p id="title">The Social Distancing Dance</p>
<div id="text">
  <!--<span style="font-size: 16px;">During this time of physical distance, take a moment to ponder the impact on your own life of decreased mobility from the place you call home.</span><br><br>-->
  This data was created by 
  <a style="font-size: 12px; color: white;" target="_blank"  href="https://www.google.com/covid19/mobility/data_documentation.html">Google</a> in 2020 by tracking movement of people to different location categories through their mobile devices.<br>
  Each dot represents one US county, color coded by 
  <span style="color: #7fa998"><b>Northeast</b></span>,
  <span style="color: #f1f1b0"><b>Southeast</b></span>,
  <span style="color: #df8543"><b>Midwest</b></span>,
  <span style="color: #a59f63"><b>West</b></span>,
  <span style="color: #c42a03"><b>Southwest</b></span>. <b>Hover to see the county's name and mobility history.</b>
  <br>The vertical position of each county dot corresponds to relative change from that county's median mobility. Certain states' stay at home directives and releases are indicated on the timeline.<br>
  <b>See where people still go during a pandemic by selecting a single category, or multiple to create an average.</b> 
</div>
<div id="mobility-buttons">
    <button id="transit-button" class="mobility-button">Transit</button>
    <button id="work-button" class="mobility-button on">Work</button>
    <button id="residential-button" class="mobility-button">Residential</button>
    <button id="grocery-button" class="mobility-button">Grocery</button>
    <button id="retail-button" class="mobility-button">Retail</button>
    <button id="parks-button" class="mobility-button">Parks</button>
</div>
<br></br>
<div>
<select name="state-select" id="state-selector">
    <option value="all">Show all states</option>
    <option value="Alabama">Alabama</option>
    <option value="Alaska">Alaska</option>
    <option value="Arizona">Arizona</option>
    <option value="Arkansas">Arkansas</option>
    <option value="California">California</option>
    <option value="Colorado">Colorado</option>
    <option value="Connecticut">Connecticut</option>
    <option value="Delaware">Delaware</option>
    <option value="Delaware">District of Columbia</option>
    <option value="Florida">Florida</option>
    <option value="Georgia">Georgia</option>
    <option value="Hawaii">Hawaii</option>
    <option value="Idaho">Idaho</option>
    <option value="Illinois">Illinois</option>
    <option value="Indiana">Indiana</option>
    <option value="Iowa">Iowa</option>
    <option value="Kansas">Kansas</option>
    <option value="Kentucky">Kentucky</option>
    <option value="Louisiana">Louisiana</option>
    <option value="Maine">Maine</option>
    <option value="Maryland">Maryland</option>
    <option value="Massachusetts">Massachusetts</option>
    <option value="Michigan">Michigan</option>
    <option value="Minnesota">Minnesota</option>
    <option value="Mississippi">Mississippi</option>
    <option value="Missouri">Missouri</option>
    <option value="Montana">Montana</option>
    <option value="Nebraska">Nebraska</option>
    <option value="Nevada">Nevada</option>
    <option value="New-Hampshire">New Hampshire</option>
    <option value="New-Jersey">New Jersey</option>
    <option value="New-Mexico">New Mexico</option>
    <option value="New-York">New York</option>
    <option value="North-Carolina">North Carolina</option>
    <option value="North-Dakota">North Dakota</option>
    <option value="Ohio">Ohio</option>
    <option value="Oklahoma">Oklahoma</option>
    <option value="Oregon">Oregon</option>
    <option value="Pennsylvania">Pennsylvania</option>
    <option value="Rhode-Island">Rhode Island</option>
    <option value="South-Carolina">South Carolina</option>
    <option value="South-Dakota">South Dakota</option>
    <option value="Tennessee">Tennessee</option>
    <option value="Texas">Texas</option>
    <option value="Utah">Utah</option>
    <option value="Vermont">Vermont</option>
    <option value="Virginia">Virginia</option>
    <option value="Washington">Washington</option>
    <option value="West-Virginia">West Virginia</option>
    <option value="Wisconsin">Wisconsin</option>
    <option value="Wyoming">Wyoming</option>
</select>
</div>
<div id="play-button-container">
  <button id="play-button">▶</button>
</div>
<text id='loading-icon'>Loading...</text>
<div id="stay-at-home">
</div>
<div id="vis"></div>
<script>

function loadingFade() {           
  $('#loading-icon').animate({opacity:'1'}, 500);
  $('#loading-icon').animate({opacity:'0.4'}, 500, loadingFade);
}

loadingFade();

setTimeout(function(){$('#loading-icon').remove()}, 6000);


$("#transit-button").click(function(){
  if ($("#transit-button").hasClass('on') && ($('.mobility-button.on').length > 1)) {
    $("#transit-button").removeClass('on') }
  else{
    $("#transit-button").addClass('on')
  }
  })
$("#work-button").click(function(){
  if ($("#work-button").hasClass('on') && ($('.mobility-button.on').length > 1)) {
    $("#work-button").removeClass('on') }
  else{
    $("#work-button").addClass('on')
  }
  })
$("#residential-button").click(function(){
  if ($("#residential-button").hasClass('on') && ($('.mobility-button.on').length > 1)) {
    $("#residential-button").removeClass('on') }
  else{
    $("#residential-button").addClass('on')
  }
  })
$("#grocery-button").click(function(){
  if ($("#grocery-button").hasClass('on') && ($('.mobility-button.on').length > 1)) {
    $("#grocery-button").removeClass('on') }
  else{
    $("#grocery-button").addClass('on')
  }
  })
$("#retail-button").click(function(){
  if ($("#retail-button").hasClass('on') && ($('.mobility-button.on').length > 1)) {
    $("#retail-button").removeClass('on') }
    else{
      $("#retail-button").addClass('on')
    }
  })
$("#parks-button").click(function(){
  if ($("#parks-button").hasClass('on') && ($('.mobility-button.on').length > 1)) {
    $("#parks-button").removeClass('on') }
  else{
    $("#parks-button").addClass('on')
  }
  })

var states_with_orders = []

var formatDate = d3.timeFormat("%m/%d/%y");
var formatDate_long = d3.timeFormat("%a, \n%B %-d");
var parseTime = d3.timeParse("%m/%d/%y");

var startDate = new Date("2020-02-15"),
    endDate = new Date("2020-04-30");

var margin = {top:80, right:50, bottom:0, left: 34},
    width = 1250 - margin.left - margin.right,
    height = 800 - margin.top - margin.bottom;

// Define the div for the tooltip
var div = d3.select("body").append("div") 
    .attr("class", "tooltip")       
    .style("opacity", 0);

var svg = d3.select("#vis")
    .append("svg")
    .attr("width", width + margin.left + margin.right)
    .attr("height", height + margin.top + margin.bottom);  

////////// slider //////////

var moving = false;
var currentValue = 0;
var targetValue = width - margin.right;

var playButton = d3.select("#play-button");

var x_slider = d3.scaleTime()
//var x_slider = d3.scaleLinear()
    .domain([startDate, endDate])
    .range([0, targetValue])
    .clamp(true);

// Add X axis
var x_dots = d3.scaleLinear()
  //.domain([0, 100])
  .domain([0, 2770])
  .range([ 0, width ])
  .clamp(true);
svg.append("g")
  .attr("transform", "translate(0," + height + ")")
 //.call(d3.axisBottom(x_dots));

// Add Y axis
var y = d3.scaleLinear()
  .domain([0, -50])
  .range([ 0, height/3]);
svg.append("g")
  .call(d3.axisLeft(y))
  .style("stroke", "white");

var slider = svg.append("g")
    .attr("class", "slider")
    .attr("transform", "translate(" + margin.left + "," + margin.top + ")");

slider.append("line")
    .attr("class", "track")
    .attr("x1", x_slider.range()[0])
    .attr("x2", x_slider.range()[1])
  .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
    .attr("class", "track-inset")
  .select(function() { return this.parentNode.appendChild(this.cloneNode(true)); })
    .attr("class", "track-overlay")
    .call(d3.drag()
        .on("start.interrupt", function() { slider.interrupt(); })
        .on("start drag", function() {
          currentValue = d3.event.x;
          update(x_slider.invert(currentValue)); 
        })
    );
/*
slider.insert("g", ".track-overlay")
    .attr("class", "ticks")
    .attr("transform", "translate(0," + 18 + ")")
  .selectAll("text")
    .data(x_slider.ticks(10))
    .enter()
    .append("text")
    .attr("x", x_slider)
    .attr("y", 10)
    .style("fill", "white")
    .attr("text-anchor", "middle")
    .text(function(d) { return formatDate(d); });
*/

var handle = slider.insert("circle", ".track-overlay")
    .attr("class", "handle")
    .attr("r", 6);

var label = slider.append("text")  
    .attr("class", "label")
    .attr("text-anchor", "middle")
    //.text(formatDate(startDate))
    .text(formatDate_long(startDate))
    .style("fill", "white")
    .attr("transform", "translate("+15+", "+ (-25) + ")")

 
////////// plot //////////

var dataset;
var stay_at_home = []
var state_opacity = 1
d3.csv('./static/stay_at_home.csv', function(data) {
    for (var i = 0; i < data.length; i++) {
        stay_at_home.push({ 'state': data[i].state,
                            'order_date': data[i].order_date,
                            'stabr': data[i].stabr,
                            'offset': parseInt(data[i].offset),
                            'color' : data[i].color
                          })
    }
    slider.insert("g", ".track-overlay")
      .attr("class", "ticks-lines")
      .attr("transform", "translate(0," + 1 + ")")
      .style("opacity", state_opacity)

    .selectAll("circle")
      .data(stay_at_home.map(x=>new Date(x.order_date)))
      .enter()
      .append("circle")
      .attr("cx", x_slider)
      //.attr("cy", 10)
      .attr("cy",  function(d, i) { return stay_at_home[i].offset < 0 ? -10 : 10 })
      .attr("r", 2)
      //.style("opacity", 0.6)
      .style("opacity", 1)
      .style("fill", "white")
      .attr("text-anchor", "middle")
      //.text(function(d) { return formatDate(d); });

    slider.insert("g", ".track-overlay")
      .attr("class", "ticks")
      .attr("transform", "translate(0," + 15 + ")")
    .selectAll("text")
      .data(stay_at_home.map(x=>new Date(x.order_date)))
      .enter()
      .append("text")
      .attr("x", x_slider)
      .attr("y", function(d, i) { return 10 + 10*stay_at_home[i].offset; })
      .attr("font-size", "8px")
      //.style("fill", "white")
      .attr("fill", function(d, i) { return stay_at_home[i].color; })
      .attr("text-anchor", "middle")
      .style("opacity", state_opacity)
      .text(function(d, i) { return stay_at_home[i].stabr; });
});
  
  $("#state-selector").change(function() {
    if ($('#state-selector').val() != "all"){
      plot.selectAll(".scatterdot")
        .style("opacity", 0.2)
      plot.selectAll("."+$("#state-selector").val())
        .style("opacity", 1)
    }
    else if ($('#state-selector').val() == "all"){
      plot.selectAll(".scatterdot")
        .style("opacity", 1)
    }
    else{}
  });

  ploty = margin.top + height/3.5

  var plot = svg.append("g")
    .attr("class", "plot")
    .attr("transform", "translate(" + margin.left + "," + ploty + ")");
  
  function filter_data(_date, data){
    // Returns data for a certain date
    region = "#69b3a2";
    _date = formatDate(_date).toString()
    dates = _.uniq(data.map(x=>x.date))
    date_ind = dates.indexOf(_date) + 1
    data_filt = data.filter(x => x.country_region == 'United States')
    data_filt = data_filt.filter(x => x.sub_region_1 != '')
    data_filt = data_filt.filter(x => x.sub_region_2 != '')
    data_filt = data_filt.filter(x => x.date==dates[date_ind])
    data_obj = data_filt.map( function (x) {
        if (x.retail_and_recreation_percent_change_from_baseline == ""){
            x.retail_and_recreation_percent_change_from_baseline = 0
        }
        if (x.grocery_and_pharmacy_percent_change_from_baseline == ""){
            x.grocery_and_pharmacy_percent_change_from_baseline = 0
        }
        if (x.parks_percent_change_from_baseline == ""){
            x.parks_percent_change_from_baseline = 0
        }
        if (x.transit_stations_percent_change_from_baseline == ""){
            x.transit_stations_percent_change_from_baseline = 0
        }
        if (x.workplaces_percent_change_from_baseline == ""){
            x.workplaces_percent_change_from_baseline = 0
        }
        if (x.residential_percent_change_from_baseline == ""){
            x.residential_percent_change_from_baseline = 0
        }

        
        avg_mobility_change = []
        if ($('#transit-button').hasClass('on')) {avg_mobility_change.push(x.transit_stations_percent_change_from_baseline)}
        if ($('#work-button').hasClass('on')) {avg_mobility_change.push(x.workplaces_percent_change_from_baseline)}
        if ($('#residential-button').hasClass('on')) {avg_mobility_change.push(x.residential_percent_change_from_baseline)}
        if ($('#grocery-button').hasClass('on')) {avg_mobility_change.push(x.grocery_and_pharmacy_percent_change_from_baseline)}
        if ($('#retail-button').hasClass('on')) {avg_mobility_change.push(x.retail_and_recreation_percent_change_from_baseline)}
        if ($('#parks-button').hasClass('on')) {avg_mobility_change.push(x.parks_percent_change_from_baseline)}

        var total = 0
        avg_mobility_change.forEach(function (x) {
            total += parseInt(x)        
        });

        avg_mobility_change = total / avg_mobility_change.length
        
        // Northeast
        if (  ['Maine', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New Hampshire', 'Vermont', 
          'New York', 'Pennsylvania', 'New Jersey', 'Delaware', 'Maryland', 'District of Columbia'].includes(x.sub_region_1) ){
          region = '#7fa998'
        }
        // Southeast
        else if (  ['West Virginia', 'Virginia', 'Kentucky', 'Tennessee', 'North Carolina', 'South Carolina', 'Georgia', 
          'Alabama', 'Mississippi', 'Arkansas', 'Louisiana', 'Florida'].includes(x.sub_region_1) ){
          region = '#f1f1b0'
        } 
        // West
        else if (  ['Colorado', 'Wyoming', 'Montana', 'Idaho', 'Washington', 'Oregon', 'Utah', 'Nevada', 
          'California', 'Alaska', 'Hawaii'].includes(x.sub_region_1) ){
        region = '#a59f63'
        }
        // Midwest
        else if (  ['Ohio', 'Indiana', 'Michigan', 'Illinois', 'Missouri', 'Wisconsin', 'Minnesota', 'Iowa', 
          'Kansas', 'Nebraska', 'South Dakota', 'North Dakota'].includes(x.sub_region_1) ){
          region = '#df8543'
        }
        // Southwest
        else if (  ['Texas', 'Oklahoma', 'New Mexico', 'Arizona'].includes(x.sub_region_1) ){
          //region = '#9d2503'
          region = '#c42a03'

        } else {
          region = "#69b3a2";
        }
        return  {'change': avg_mobility_change,
                 'region': region,
                 'state': x.sub_region_1.replace(" ","-"),
                 'county' : x.sub_region_2,
                 'date' : x.date,
                 //'key' : x.sub_region_2+"-"+x.sub_region_1
                 'key' : x.sub_region_2.replace(" ","-").replace(" ","-")+"-"+x.sub_region_1.replace(" ","-")}
      })
      data_obj = _.sortBy(data_obj, 'region')
      return data_obj
      console.log(data_obj)
  }

  function filter_data_for_lines(data){
    // Returns data by county for timeseries
    region = "#69b3a2";
    data_filt = data.filter(x => x.country_region == 'United States')
    data_filt = data_filt.filter(x => x.sub_region_1 != '')
    data_filt = data_filt.filter(x => x.sub_region_2 != '')

    data_obj = data_filt.map( function (x) {
        if (x.retail_and_recreation_percent_change_from_baseline == ""){
            x.retail_and_recreation_percent_change_from_baseline = 0
        }
        if (x.grocery_and_pharmacy_percent_change_from_baseline == ""){
            x.grocery_and_pharmacy_percent_change_from_baseline = 0
        }
        if (x.parks_percent_change_from_baseline == ""){
            x.parks_percent_change_from_baseline = 0
        }
        if (x.transit_stations_percent_change_from_baseline == ""){
            x.transit_stations_percent_change_from_baseline = 0
        }
        if (x.workplaces_percent_change_from_baseline == ""){
            x.workplaces_percent_change_from_baseline = 0
        }
        if (x.residential_percent_change_from_baseline == ""){
            x.residential_percent_change_from_baseline = 0
        }

        
        avg_mobility_change = []
        avg_mobility_change.push(x.transit_stations_percent_change_from_baseline)
        avg_mobility_change.push(x.workplaces_percent_change_from_baseline)
        avg_mobility_change.push(x.residential_percent_change_from_baseline)
        avg_mobility_change.push(x.grocery_and_pharmacy_percent_change_from_baseline)
        avg_mobility_change.push(x.retail_and_recreation_percent_change_from_baseline)
        avg_mobility_change.push(x.parks_percent_change_from_baseline)

        var total = 0
        avg_mobility_change.forEach(function (x) {
            total += parseInt(x)        
        });

        avg_mobility_change = total / avg_mobility_change.length
        
        // Northeast
        if (  ['Maine', 'Massachusetts', 'Rhode Island', 'Connecticut', 'New Hampshire', 'Vermont', 
          'New York', 'Pennsylvania', 'New Jersey', 'Delaware', 'Maryland', 'District of Columbia'].includes(x.sub_region_1) ){
          region = '#7fa998'
        }
        // Southeast
        else if (  ['West Virginia', 'Virginia', 'Kentucky', 'Tennessee', 'North Carolina', 'South Carolina', 'Georgia', 
          'Alabama', 'Mississippi', 'Arkansas', 'Louisiana', 'Florida'].includes(x.sub_region_1) ){
          region = '#f1f1b0'
        } 
        // West
        else if (  ['Colorado', 'Wyoming', 'Montana', 'Idaho', 'Washington', 'Oregon', 'Utah', 'Nevada', 
          'California', 'Alaska', 'Hawaii'].includes(x.sub_region_1) ){
        region = '#a59f63'
        }
        // Midwest
        else if (  ['Ohio', 'Indiana', 'Michigan', 'Illinois', 'Missouri', 'Wisconsin', 'Minnesota', 'Iowa', 
          'Kansas', 'Nebraska', 'South Dakota', 'North Dakota'].includes(x.sub_region_1) ){
          region = '#df8543'
        }
        // Southwest
        else if (  ['Texas', 'Oklahoma', 'New Mexico', 'Arizona'].includes(x.sub_region_1) ){
          region = '#9d2503'

        } else {
          region = "#69b3a2";
        }
        return  {'change': avg_mobility_change,
                 'region': region,
                 'state': x.sub_region_1.replace(" ","-"),
                 'county' : x.sub_region_2,
                 'date' : parseTime(x.date),
                 'key' : x.sub_region_2.replace(" ","-").replace(" ","-")+"-"+x.sub_region_1.replace(" ","-")}
      })
      data_obj = _.sortBy(data_obj, 'region')
      return data_obj
  }

function key (d) { return d.key; }

d3.csv("./static/Global_Mobility_Report_5_1_20.csv", function(data) {
  dataset = data;

  data_for_lines = filter_data_for_lines(data)

  var countyline = d3.line()
    .x(function(d) { return x_slider(d.date); })
    .y(function(d) { return y(d.change); })

  counties = _.uniq(data_for_lines.map(x=>x.key))
  for (i=0; i < counties.length; i = i+4){
    data_line = data_for_lines.filter(x => x.key == counties[i])
    //console.log(counties[i])
    plot.append("path")
        .data([data_line])
        .attr("class", function (d) { 
          return ("county-line "+d[0].key); })
        .style("stroke", [data_for_lines.filter(x => x.key == counties[i])[0].region])
        .attr("d", countyline)
  }
  data_filt = filter_data(new Date('2020-02-14'), dataset)

  plot.append("line")
   .attr('stroke', 'white')
   .attr('opacity', 1)
   //.attr('stroke-dasharray', 2,3)
   .attr("stroke-width", 0.3)
   .attr("x1", x_dots(0))
   .attr("y1", y(0))
   .attr("x2", x_dots(2770))
   .attr("y2", y(0));

  drawPlot(data_filt);
  
  playButton
    .on("click", function() {
    var button = d3.select(this);
    if (button.text() == "❚❚") {
      moving = false;
      clearInterval(timer);
      // timer = 0;
      button.text("▶");
    } else {
      moving = true;
      timer = setInterval(step, 100);
      button.text("❚❚");
    }
    console.log("Slider moving: " + moving);
  })
})
  
function step() {
  update(x_slider.invert(currentValue));
  currentValue = currentValue + (targetValue/151);
  if (currentValue > targetValue) {
    moving = false;
    currentValue = 0;
    clearInterval(timer);
    // timer = 0;
    playButton.text("▶");
    console.log("Slider moving: " + moving);
  }
}

function drawPlot(dataset) {
  //console.log("DATA IN DRAW PLOT")
  //console.log(dataset)
  var dots = plot.selectAll(".scatterdot")
    .data(dataset, key);

  // if filtered dataset has more circles than already existing, transition new ones in
  dots.enter()
    .append("circle")
    .attr("class", function (d) { return ("scatterdot "+d.state); })
    .attr("r", 1.5)
    .attr("cx", function (d, i) { return x_dots(i); } )
    .attr("cy", function (d) { return y(d.change); } )
    .attr("opacity", function(d) { return ($('#state-selector').val().includes('all') ? 1 : 0.2); })
    .style("fill", function (d) { return d.region; })
    .on("mouseover", function(d) {
            d3.select(this)
              .attr("r", 8);
            plot.selectAll(".county-line."+d.key) 
              .style("opacity", .9)
              .attr("opacity", .9); 
            div.transition()    
                .duration(50)    
                .style("opacity", .95);    
            div .html(d.county + ", " + d.state.replace("-", " "))  
                .style("left", (d3.event.pageX) + "px")   
                .style("top", (d3.event.pageY - 15) + "px");  
            })          
        .on("mouseout", function(d) {
          d3.select(this).transition(300)
              .attr("r", 1.5);
            div.transition()    
                .duration(800)    
                .style("opacity", 0);
            plot.selectAll(".county-line."+d.key)
              .transition()    
              .duration(1500)    
              .style("opacity", 0)
              .attr("opacity", 0);  
        });

  //update all circles to new positions
  dots.transition()
    .duration(400)
    .attr("cy", function (d) { return y(d.change); } )
    .style("fill", function (d) { return d.region; })
  
  /*dots.exit()
    .remove();*/

  if ($('#state-selector').val() != "all"){
      plot.selectAll(".scatterdot")
        .style("opacity", 0.2)
      plot.selectAll("."+$("#state-selector").val())
        .style("opacity", 1)
    }
    else if ($('#state-selector').val() == "all"){
      plot.selectAll(".scatterdot")
        .style("opacity", 1)
    }
    else{}
}

function update(h) {
  if ($('#state-selector').val() != "West-Virginia"){
    plot.selectAll(".scatterdot.West-Virginia")
      .attr("opacity", 0.2)
  }
  if ($('#state-selector').val() != "Virginia"){
    plot.selectAll(".scatterdot.Virginia")
      .attr("opacity", 0.2)
  }
  if ($('#state-selector').val() == "all"){
    plot.selectAll(".scatterdot")
      .style("opacity", 1)
  }
  // update position and text of label according to slider scale
  handle.attr("cx", x_slider(h));
  label
    .attr("x", x_slider(h))
    //.text(formatDate(h));
    .text(formatDate_long(h));

  d = formatDate(h).toString()

  _ind = stay_at_home.map(x=>x.order_date).indexOf(d)
  if (_ind > 0){
    stay_at_home_state = stay_at_home[_ind].state
    drawStayAtHomeDiv([stay_at_home_state])
  }

  // filter data set and redraw plot
  new_data = filter_data(h, dataset)
  drawPlot(new_data);
}

function drawStayAtHomeDiv(state){
  var txt3 = $("<p></p>").text(state);
  txt3.innerHTML = "Text.";
  $('#stay-at-home').append(txt3);  
}



</script>
</body>